<mat-toolbar class="justify-between" color="primary">
  <section class="flex items-center">
    <button
      mat-icon-button
      color="primary"
      class="menu flex justify-center items-center"
      (click)="openClose()"
    >
      <mat-icon mat-list-icon class="icon-center" fontIcon="menu"></mat-icon>
    </button>

    <a class="ml-5" routerLink="home" routerLinkActive="active">
      <button mat-button color="primary">Supermarkets</button>
    </a>
  </section>

  <section class="header">
    <horus-header></horus-header>
  </section>
</mat-toolbar>
