@use "@angular/material" as mat;

@include mat.core();

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette
    )
  )
);

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette
    )
  )
);

html {
  @include mat.color-variants-backwards-compatibility($light-theme);

  @media (prefers-color-scheme: light) {
    @include mat.all-component-themes($light-theme);
    @include mat.strong-focus-indicators-theme($light-theme);
    // @include mat.color-variants-backwards-compatibility($light-theme);
  }
}

// .primary {
//   @include mat.icon-color($light-theme, $color-variant: primary);
// }

// .secondary {
//   @include mat.icon-color($light-theme, $color-variant: secondary);
// }

// .surface {
//   @include mat.icon-color($light-theme, $color-variant: surface);
// }

// .tertiary {
//   @include mat.icon-color($light-theme, $color-variant: tertiary);
// }

// .error {
//   @include mat.icon-color($light-theme, $color-variant: error);
// }

// .primary-70 {
//   color: mat.get-theme-color($light-theme, primary, 80) !important;
// }
