
@use "@angular/material" as mat
@use "../../../../styles/_theme.scss"

.sidenav
  width: fit-content !important
  padding: 0px 8px
  overflow: auto
  border-right: 1px solid #d6c2c5 !important
  border-radius: 0 !important

.sidenav-hover
  &:focus
    background-color: mat.get-theme-color(theme.$light-theme, primary) !important
