
@use "@angular/material" as mat
@use "../../../../styles/_theme.scss"

.sidenav
  width: fit-content !important
  padding: 0px 8px
  overflow: auto
  border-right: 1px solid #d6c2c5 !important
  border-radius: 0 !important

.sidenav-hover
  &:focus
    background-color: mat.get-theme-color(theme.$light-theme, primary) !important


.spinner-overlay
  position: absolute
  height: 100%
  width: 100%
  background-color: rgba(218, 218, 218, 0.7)
  display: flex
  justify-content: center
  align-items: center
  z-index: 1000
