<section class="flex-container main-page-item mt-3">
  <p>home works!</p>

  <horus-client-table id="test" [dataSource]="datasource" [pageSizeOptions]="pageSizeOptions">
    <horus-text-column name="id" title="Id"></horus-text-column>
    <horus-text-column name="name" title="Name"></horus-text-column>
    <horus-text-column name="surname" title="Surname"></horus-text-column>
  </horus-client-table>

  <horus-basic-accordion class="mt-4" title="Title" description="description" icon="add" [expanded]="true">
    <div>Hola mundo</div>
  </horus-basic-accordion>

  <horus-accordion-multi-expansion (prevStep)="prevStep()" (nextStep)="nextStep()">
    <horus-expansion-panel
      title="Expansion 1"
      description="Description 1"
      icon="add"
      [expanded]="step() === 0"
      (opened)="setStep(0)"
    >
      <div>AAA</div>
    </horus-expansion-panel>
    <horus-expansion-panel
      title="Expansion 2"
      description="Description 2"
      icon="add"
      [expanded]="step() === 1"
      (opened)="setStep(1)"
      ><div>BBB</div></horus-expansion-panel
    >
    <horus-expansion-panel
      title="Expansion 3"
      description="Description 3"
      icon="add"
      [expanded]="step() === 2"
      (opened)="setStep(2)"
      ><div>CCC</div></horus-expansion-panel
    >
  </horus-accordion-multi-expansion>
</section>

<div>{{ "test" | translate }}</div>
